*.npz
data/sdf_models/unit_sphere/gen/
data/sdf_models/wall/gen/
venv/
*.pyc
.ipynb_checkpoints
.vscode
__pycache__
models
trajectory
*.hdf5
log*.txt
*.png
*.jpg
*.pdf
*.out
*.pkl
*.zip
outputs
src_default
*.pklz
*.lp
